<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/addQue.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include ('../views/layout/header.ejs') %>


    <main>
        <form action="/addNewQ" method="POST">
            <div id="div"> 
             <input type="text" name="title" placeholder="Title">
             <input type="text" name="add-tage"placeholder='Add-tage  "Html-Css-JS-NodeJs etc..."'>
             <!-- <input type="textare" name="description"> -->
             <textarea  rows="4" cols="50" name="description" placeholder="Description"></textarea>
             <textarea  rows="4" cols="50" name="code" placeholder="Code"></textarea>
             <button>Add now</button>

            </div>
        </form> 
            
    </main>
</body>
</html>