<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include ('../views/layout/header.ejs') %>
    
    <main>
        <img class="mainpic" src="/img/kevin-ku-aiyBwbrWWlo-unsplash.jpg" alt="">

        <div class="homeDev">
            <h2 class="itroheader">من نحن </h2>
            <div class="paragra">
                <p class="introp">بيت المبرمج هو موقع إلكتروني لإثراء المحتوى العربي على شبكة التواصل الإجتماعي</p>
                <p class="introp"> الهدف الرئيسي من هذا الموقع هو تمكين أي شخص عربي لطرح الأسئلة باللغة العربية وكسب
                    الخبرات والتعرف على لغات البرمجة بكافة أشكالها دون الحاجة لمعرفة عميقة باللغة الإنجليزية كي لا تكون
                    عائق أمام تعلمه وتقدمه في هذا المجال</p>
                <p class="introp"> .يقدم موقعنا للمستخدم أهم اللغات المتداولة في عالم البرمجة ويُمَكِنُه من الإستفسار عن
                    أي شيء يختص بهذا المجال بكل حرية وسهولة،كما ويستطيع الإجابة عن الأسئلة الأخرى للمستخدمين</p>

            </div>

        </div>


        <section  id="content"> 
            <div class="profile" data-text="ابحث عن وظيفه
            يمكنك موقعنا من البحث عن الوظائف التي تناسبك من كل انحاء العالم لتستطيع التقديم على الوظيفة بكل سهولة">
    <img class="up" src="https://images.unsplash.com/photo-1568598035424-7070b67317d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  ></div>
    
    <div class="profile" data-text="CDN ابحث عن
    
    يمكنك موقعنا من الحصول على هذه الروابط التي تبحث عنها سريعا دون الحاجه لتصفح مواقع اخرى للحصول عليه ">
        <img class="up" src="https://images.unsplash.com/photo-1564325724739-bae0bd08762c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  ></div>
    
        <div class="profile" data-text="اسألني
        يتميز موقعنا بهذه الخدمة الرائعةالتي تمكنك كعربي من طرح استفساراتك وافكارك باللغة العربية لتسهيل اكتساب المعلومة">
            <img class="up" src="https://images.unsplash.com/photo-1514580426463-fd77dc4d0672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  ></div>
        </section>
    

       
               
    



    </main>



    <%- include ('../views/layout/footer.ejs') %>



</body>

</html>