<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">

    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include ('../views/layout/header.ejs') %>
<main>
    <img class="mainpic" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/09/lenguajes-programacion.jpg" alt="">
    <div class="homeDev">
        <h2 class="itroheader">من نحن </h2>
        <div class="paragra">
            <p class="introp">بيت المبرمج هو موقع إلكتروني لإثراء المحتوى العربي على شبكة التواصل الإجتماعي</p>
            <p class="introp"> الهدف الرئيسي من هذا الموقع هو تمكين أي شخص عربي لطرح الأسئلة باللغة العربية وكسب الخبرات والتعرف على لغات البرمجة بكافة أشكالها دون الحاجة لمعرفة عميقة باللغة الإنجليزية كي لا تكون عائق أمام تعلمه وتقدمه في هذا المجال</p> 
           
         
           

            <p class="introp"> .يقدم موقعنا للمستخدم أهم اللغات المتداولة في عالم البرمجة ويُمَكِنُه من الإستفسار عن أي شيء يختص بهذا المجال بكل حرية وسهولة،كما ويستطيع الإجابة عن الأسئلة الأخرى للمستخدمين</p>
            
                     
        </div>
        
    </div>
    
</main>

 
         <footer>
        <div class="footer-content">

            <div class="footer-section links">
                
                <p id="follow">تابعنا على </p>
                <div id="links">
                    <a class="slinks" href="https://web.facebook.com/jo.craft.73"><i class="fab fa-facebook-f"></i></a>
                    <a class="slinks" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="slinks" href="https://www.instagram.com/jocraft6/"><i class="fab fa-instagram"></i></a>
                    <a class="slinks" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="slinks" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-section contact-form">
                <p id="email">
                    شاركنا برأيك  
                </p>
                <br>
                <form action="" class="newsletter-form">
                    <input type="submit" class="btn" value="أرسل">
                    <input type="text" class="txtb" placeholder="أدخل تعليقك">
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            جميع الحقوق محفوظه &copy; | طور بواسطة فريق  404
        </div>
    </footer>


  


</body>

</html>