<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include ('../views/layout/header.ejs') %>
<main>
    <img class="mainpic" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/09/lenguajes-programacion.jpg" alt="">
    <div class="homeDev">
        <h2 class="itroheader">من نحن </h2>
        <div class="paragra">
            <p class="introp">بيت المبرمج هو موقع إلكتروني لإثراء المحتوى العربي على شبكة التواصل الإجتماعي</p>
            <p class="introp"> الهدف الرئيسي من هذا الموقع هو تمكين أي شخص عربي لطرح الأسئلة باللغة العربية وكسب الخبرات والتعرف على لغات البرمجة بكافة أشكالها دون الحاجة لمعرفة عميقة باللغة الإنجليزية كي لا تكون عائق أمام تعلمه وتقدمه في هذا المجال</p> 
           
         
           

            <p class="introp"> .يقدم موقعنا للمستخدم أهم اللغات المتداولة في عالم البرمجة ويُمَكِنُه من الإستفسار عن أي شيء يختص بهذا المجال بكل حرية وسهولة،كما ويستطيع الإجابة عن الأسئلة الأخرى للمستخدمين</p>
            
                     
        </div>
        
    </div>
    
</main>
</body>

</html>