<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login page</h2>
    <form id=login >
        <label>Email</label>
            <input  type="text" id="email" name="email" placeholder="Enter your Email" required> 
    
        <label>Password </label>
            <input  type="text" id="password" name="password" placeholder="Enter your Password" >
             
            <input type="submit">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="js/auth.js"></script>
</body>
</html>