<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include ('../views/layout/header.ejs') %>

    <main>
        <form action="/questions">
            <input type="text" name="search">
            <input type="text" name="filter">
            <button type="submit">Search</button>
        </form>
        <a href="/addQue"><button>Add Question</button></a>
        <ul>
                <%queData.forEach((ele)=>{%>
                <a href="/question?id=<%=ele.id%>"><li><p>title: <%=ele.title%></p></li></a>
            <%})%>
        </ul>
    </main>
</body>
</html>