<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/signUp.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
</head>
<body>

    <main id="signup">
<div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form class="signupform" id="signupform">
                <h1>إنضم لعائلتنا </h1>
                <label id="email" for="email">: البريد الإلكتروني</label><br>
            <input  id="email" type="text" name="email" placeholder="أدخل بريدك الإلكتروني" required>
            <label  id="username" for="username">: اسم المستخدم</label><br>
            <input  id="username" type="text" name="username" placeholder="أدخل اسمك" required>
            <label  id="password" for="password" >: كلمة المرور</label><br>
            <input id="password" type="password" name="password" placeholder=" أدخل كلمة المرور" required>
            <label id="img" for="img" >: صورة شخصية</label><br>
            <input  id="img" type="url" name="status" placeholder=" حمل صورة لك " >
        
            <div id="emailHidden">
                <a href="/login" class="both"> لديك حساب مسبق هل تود تسجيل الدخول إضغط هنا! *</a>
            </div>

                <button>تسجيل </button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
               
                <div class="overlay-panel overlay-right">
                    <h1 class="photo">أهلا بك</h1>
                    <p>أدخل معلوماتك المطلوبة في الحقول المجاورة لتكون فرد من عائلتنا </p>
                   
                </div>
            </div>
        </div>
    </div>

    

</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
 <script src="./js/signup.js"></script>
</body>
</html>