<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include ('../views/layout/header.ejs') %>
    <main id="signup">
    <form class="signupform" id="signupform">
        <div id="divforform">
            <label class="signuplable" id="email" for="email">: البريد الإلكتروني</label><br>
            <input class="signupinput" id="email" type="text" name="email" placeholder="أدخل بريدك الإلكتروني" required>
            <label class="signuplable" id="username" for="username">: اسم المستخدم</label><br>
            <input class="signupinput" id="username" type="text" name="username" placeholder="أدخل اسمك" required>
            <label class="signuplable" id="password" for="password" >: كلمة المرور</label><br>
            <input class="signupinput" id="password" type="password" name="password" placeholder=" أدخل كلمة المرور" required>
            <label class="signuplable" id="img" for="img" >: صورة شخصية</label><br>
            <input class="signupinput" id="img" type="url" name="status" placeholder=" حمل صورة لك " >
            <label class="signuplable" id="status" for="img" >:  الحالة</label><br>
            <input class="signupinput" id="status" type="url" name="status" placeholder="    الحالة " >
        </div>
        
        <button class="signupbutton">تسجيل</button>
    </form>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
 <script src="./js/signup.js"></script>
</body>
</html>