main {
  background-color: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
}
element.style {
  /* border: 1px solid var(--theme-color1); */
}
.card-sm-content .r-layout .r-content .title {
  font-size: 35px;
}
:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown: #fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown: #915b40;
  --light-yellow: #f8e3a8;
  --light-red: #f3ac99;
  --light-teal: #a6c8cc;
  --light-gray: #ddd5d6;
  --theme-color2: #e89a3d;
  --theme-color1: #e89a3d;
}

.c-container {
  margin: auto;
  width: 93%;
  position: relative;
  z-index: 1;
}

.nameOfCards {
  background-color: #525973;
  padding: 1%;
  text-align: center;
  background-size: cover;
  width: 507px;
  margin-top: -17px;
  margin-left: -17px;
  border-radius: 3px;
}

.card-view {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 17px;
  margin-bottom: 20px;
  background: #fff;
  width: 482px;
  height: 390px;
  box-shadow: 0px 2px 6px #535b75;
  display: inline-flex;
  margin: 1% 4%;
  top: 0;
}

/* .nameOfCards {
  background-color: #525973;
  padding: 1%;
  text-align: center;
  background-size: cover;
  width: 504px;
  margin-top: -22px;
  margin-left: -22px;
  border-block-end: solid 1px #E89A3D; 
  border-radius: 3px; */

button {
  padding: 1%;
  width: 5%;
  background-color: #e4e4e4;
  color: #535b75;
}

button:hover {
  padding: 1%;
  width: 5%;
  background-color: #515973;
  color: #e4e4e4;
}

button.saveButt {
  background-color: #e89a3d;
  border: none;
  box-shadow: none;
  padding: 1%;
  margin-top: 1%;
  margin-left: 6%;
  border-radius: 4px;
  width: 10%;
  color: #f0ead7;
  font-size: 104%;
  font-weight: bold;
  border: 10%;
  font-weight: 84%;
}

.containrbtn {
  margin: 1% 31% 1% 27%;
  justify-content: center;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.spacer {
  padding-top: 1px;
  padding-bottom: 50px;
}
.bg-gray {
  background: #f8f8f8;
}
.no-margin {
  margin: 0 !important;
}
.flex-row .flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.r-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.r-layout .r-img {
  position: relative;
  width: 199px;
  height: 192px;
  margin-right: 20px;
}
.cm-sm {
  width: 154px !important;
  height: 156px !important;
}
.r-layout .r-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -o-object-fit: cover;
  object-fit: cover;
}
.r-layout .s-tag {
  position: absolute;
  font-weight: 500;
  margin-right: 0;
}
.s-tag {
  width: 57px;
  height: 36px;
  background: transparent;
  color: #666666;
  border-radius: 3px;
  background: #e4e4e4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 20px;
}
.card-sm-content .r-layout .r-content .title {
  font-size: 35px;
}

.r-layout .r-content .title {
  font-weight: 600;
  color: #e89a3d;
  margin-bottom: 4%;
  padding-top: 3%;
  text-align: center;
}
button.save:hover {
  background-color: #acb0bd;
}
.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.r-layout .r-content p {
  font-size: 14px;
  color: #666666;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 14px;
  text-align: -webkit-left;
}
.taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.taglist .tag:first-child {
  margin-left: 0;
}
.taglist .tag {
  margin-left: 10px;
}
.tag {
  width: 91px;
  height: 26px;
  border-radius: 2px;
  background-color: #e4e4e4;
  font-size: 14px;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.r-layout .r-content .color-text {
  font-weight: 600;
  color: #00796b;
}

.h3-titlte {
  font-size: 20px;
  font-weight: 600;
  color: #092646;
  margin-top: 30px;
  margin-bottom: 43px;
  text-align: center;
}

a {
  color: #ccc;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 27px auto 29px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
}

.form-wrapper input {
  width: 330px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #e89a3d;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.form-wrapper button:hover {
  background: #293252;
}

.form-wrapper button:active,
.form-wrapper button:focus {
  background: #e89a3d;
}

.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #e89a3d transparent;
  top: 12px;
  left: -6px;
}

.form-wrapper button:hover:before {
  border-right-color: #293252;
}

.form-wrapper button:focus:before {
  border-right-color: #e89a3d;
}

.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button.save {
  width: 104px;
  height: 25px;
  color: #092646;
  border-radius: 3px;
  background-color: #e89a3d;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: none;
  border: none;
  margin-top: 338%;
  margin-left: -291%;
}

.card-view:hover,
.card-view:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  box-shadow: 0px 2px 6px #e89a3d;
}
