
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Lateef&family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Rakkas&display=swap');
* {
    box-sizing: border-box;
    overflow: hidden;
}
main#signup {
    margin-top: 75px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F6F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
        margin-top: 20px;
}
h1 {
    font-weight: bold;
    margin: 0;
    padding: 6%;
    color: #0F2352;
    font-family: 'Lateef', cursive;
    font-family: 'Rakkas', cursive;
}
label {
    margin-left: -7px;
    padding: 97px;
    color: #0F2352;
    font-family: 'Lateef', cursive;
    font-family: 'Rakkas', cursive;
    font-family: 'Amiri', serif;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}
span {
    font-size: 12px;
}
a {
    color: #6272ad;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 8px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 943px;
    max-width: 100%;
    height: 563px;
    /* min-height: 480px; */
}
.form-container form {
    background: #fff;
    /* display: flex; */
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-container {
    margin: 20px 0;
}
.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.form-container input {
    background: #eee;
    text-align: end;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
button {
    border-radius: 20px;
    border: 1px solid #0F2352;
    background: #7F8B9E;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 9px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:active {
    transform: scale(.95);
}
button:focus {
    outline: none;
}
button.ghost {
    background: transparent;
    border-color: #fff;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}
.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    margin-top: 3%;
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}
.overlay {
    background: #FF416C;
    background: linear-gradient(to right, #293252, rgba(123, 149, 167, 0.541)) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
.overlay-right {
    right: 0;
    transform: translateY(0);
}
.overlay-left {
    transform: translateY(-20%);
}
/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}
/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}
/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}
/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}
/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}
.icons {
    display: flex;
    width: 30px;
    height: 30px;
    letter-spacing: 15px;
    align-items: center;
}
div#check {
    color: #6272ad;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-right: 32px;
}

input#ch {
    position: relative;
    top: 23px;
    right: -160px;}

    h5 {
        padding-right: 9%;
        margin-bottom: 12px;
    }

div#chbox {
  margin-bottom: 9%;
  padding-right: 29px;
}

div#go {
  position: sticky;
  z-index: 9999;
  top: 93%;
  margin-left: 17px;
  
}
a#aj {
    color: #ec953a;
    font-size: 17px;
    margin-top: .5%;
}
main#signup {
  margin-top: 0px;
}

#emailHidden{
    background-color: rgba(216, 34, 34, 0.8);
    color: #fdf3de;
    border-radius: 34px;
    margin-bottom: 12px;
}

p.both {
    font-size: 14px;
    margin-bottom: 12px;
}

#passHidden {
    background-color: rgba(216, 34, 34, 0.8);
    color: #fdf3de;
    border-radius: 34px;
    margin-bottom: 12px;
    width: 91%;
}