*{
    /* background-color: aquamarine; */
    margin: 0;
}
.div{
    background-color: #116466;
    padding: 1%;
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-Right: 15%;
    margin-bottom: 2%;
}
h1{
    padding-bottom: 1.5%;
}
#title{
    border-bottom: rgb(12, 179, 165) dashed 1px;
    text-align: left;
    background-color: papayawhip;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#description{
    text-align: left;
    background-color: #FFCB9A;
    padding: 3%;
}
#code{
    text-align: left;
    background-color: #D1E8E2;
    padding: 3%;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-Right: 15%;
    margin-bottom: 2%;
}
#rank{
    align-self:flex-start;
    padding: 1%;
    background-color: rgb(23, 252, 23);
}
button{
    background-color: #2C3531;
    padding: 1%;
    color: honeydew;
    border: none;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
}
button:hover {opacity: 1}
