body {
  overflow-x: hidden;

  box-sizing: border-box;
}

h4 {
  overflow: hidden;
  font-size: 28px;
  color: #e89a3d;
  margin: 0% 44%;
  margin-bottom: 1%;
}

.bigdiv {
  box-sizing: border-box;
}

img.jobimage {
  width: 20%;
  height: 59px;
  padding: 1%;
}
/* .jf {
  display: inline-block;
  width: 30%;
  border: 2px solid #ecae61;
  background: whitesmoke;
  border-radius: 13px;
  padding: 1%;
} */
#secj {
  /* clear: both; */
  text-align: center;
  display: block;
  margin: 1%;
  direction: rtl;
}
.jf {
  box-sizing: border-box;
  justify-content: space-around;
  display: inline-grid;
  font-size: 18px;
  width: 41%;
  box-shadow: 0px 2px 6px #535b75;
  background: whitesmoke;
  border-radius: 13px;
  padding: 1%;
  margin-bottom: 2%;
  margin-left: 6%;
  direction: rtl;
}
.jf:hover {
  animation-name: pulse;
  animation-duration: 2s;
  box-shadow: 0px 2px 6px #e89a3d;

}
section#sec2 {
  margin-top: 4%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
}
span#spn {
  font-size: 20px;
  color: #535b75;
}

button#search-btn {
  border-radius: 5px;
  width: 6%;
  height: 29px;
  font-size: 20px;
  color: #535b75;
}

button#search-btn:hover{
  opacity: .5;
}
.jbtn {
  border-radius: 13px;
  width: 178px;
  height: 39px;
  background: #e89a3d;
  font-size: 15px;
  font-weight: 700;
  color: white;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.jbtn:hover{
  opacity: .5;
}
div#btn {
  text-align: center;
  margin-top: 2%;
}
div#bn {
  text-align: center;
  margin-top: 2%;
}
button.savebtn {
  border-radius: 5px;
  font-size: 15px;
  color: #535b75;
}
button.savebtn:hover{
  opacity: .7;
  color: #2f417e;
}

p.jobp {
  padding-bottom: 14px;
}
input.in {
  height: 27px;
  border-radius: 8px;
  padding: 4px;
  color: #535b75;
  font-size: 16px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
button#jobb {
  display: inline-block;
  background: orange;
  padding: 1%;
  margin: 1% 6%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: bold;
  color: white;
}

button#jobb:hover{
  opacity: .5;
}

button#onbtn {
  background: #e89a3d;
  padding: 1%;
  border-radius: 10px;
  font-size: 19px;
  color: white;
  margin-top: 1%;
  margin-left: 5%;
}

button#onbtn:hover{
  opacity: .6;
}