<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/blog.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script id="blog" type="x-tmpl-mustache">
        <div class="containr" onclick="clicked({{id}})">
            <div >
                <img class="imgblog" src="{{img}}" alt="">
            </div>
            <div class="containr2">
                <div class="tittle">
                    <p>{{tittle}}</p>
                </div>
                <div class="des">
                    <p>                 
                        {{des}}
                    </p>
                </div>
                <div class="aot">
                    <p>                 
                        {{name}} : كتبت بواسطة 
                    </p>
                </div>
            </div>
        </div>


    </script>
  <script id="btn" type="x-tmpl-mustache">
        <button onclick="chengeblogs({{index}})">{{number}}</button>
    </script>
</head>

<body>

    <%- include ('../layout/header.ejs') %>

    <main>
        <button class="blogbutt" onclick="addBlog()">صنع محتوى</button>
        <p id="blogs" style="display: none;"><%=blogs%></p>
        <div class="containrbtn">
        </div>
      
    </main>
<footer>
    <div class="footer-content">
      <div class="footer-section links">
        <p id="follow">تابعنا على </p>
        <div id="links">
          <a class="slinks" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="slinks" href="#"><i class="fab fa-twitter"></i></a>
          <a class="slinks" href=""><i class="fab fa-instagram"></i></a>
          <a class="slinks" href="#"><i class="fab fa-youtube"></i></a>
          <a class="slinks" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer-section contact-form">
        <p id="email">
          شاركنا برأيك
        </p>
        <br>
        <form action="" class="newsletter-form">
          <input type="submit" class="btn" value="أرسل">
          <input type="text" class="txtb" placeholder="أدخل تعليقك">
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      جميع الحقوق محفوظة &copy; | طور بواسطة فريق 404
    </div>
  </footer>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="js/blogs.js"></script>
</body>

</html>