<!DOCTYPE html>
<html style="height: 100%;" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/60a3d0faa7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body,
    html {
      height: 100%;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 10px 12px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn,
    .dropbtn:focus {
      background-color: #515973;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }

    .dropdown1 {
      float: left;
      overflow: hidden;
    }

    .dropdown1 .dropbtn1 {
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 10px 12px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar1 a:hover,
    .dropdown1:hover .dropbtn1,
    .dropbtn1:focus {
      background-color: #515973;
    }

    .dropdown-content1 {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content1 a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content1 a:hover {
      background-color: #ddd;
    }

    .show1 {
      display: block;
    }
  </style>
  <script id="menu" type="x-tmpl-mustache">
        <div class="bounce" name="div" style="width: 200px;">
            <div id="test" class="dropdown test" style="display: block ! important;">
                <button class="dropbtn" onclick="myFunction()">
                 <i id="" class="fas fa-plus"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#" onclick="addItem('img')">أضف صورة</a>
                    <a href="#" onclick="addItem('p')">أضف نص</a>
                    <a href="#" onclick="addItem('h1')">أضف عنوان</a>
                </div>
            </div>
            <div  class="dropdown1 test">
                <button class="dropbtn1" onclick="myFunction1()">
                    <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-content1" id="myDropdown1">
                    <a href="#" onclick="changeColor()">تغير اللون</a>
                    <a href="#" onclick="changeFontSize()"> تغير الحجم الخط</a>
                    <a href="#" onclick="changeAlign()"> تغير التجاه</a>
                    <a href="#" onclick="changeImage()"> حجم الصورة</a>
                    <a href="#" onclick="changeDisplay()">نوع الكتلة</a>
                </div>
            </div>
        </div>   </script>
  <script id="fontplace" type="x-tmpl-mustache">
        <div>
        <form name="place"  style="    display: flex;
        flex-direction: column;
        width: 54px;
        padding: 11px;
        background: gray;
        border-radius: 7px;">
            <select onchange="plChange(event)" >
                <option value="center">المنتصف</option>
                <option value="right">يمين</option>
                <option value="left">يسار</option>
              </select>
         <button  style="    margin: 5px 0 0 0;
         border: 0;
         border-radius: 4px;
         background: orange;" onclick="finshPlace()">تم</button>   
    </form>  
</div> 
    </script>
  <script id="position" type="x-tmpl-mustache">
      <div>
        <form name="position">
            <input type="number" name="top"  style="width:50px" onkeyup="elementPostion(event)" onchange="elementPostion(event)" value={{top}} />
            <label for="">بالطول </label>
            <input type="number" name="left"  style="width:50px" onkeyup="elementPostion(event)" onchange="elementPostion(event)" value={{left}} />
            <label for="">بالعرض </label>
         <button onclick="finshposition()">تم</button>   
    </form>
</div>   
    </script>
  <script id="display" type="x-tmpl-mustache">
      <div>
        <form name="display" >
            <select onchange="diChange(event)" >
                <option value="inline-block">كتلة مضمنة</option>
                <option value="block">كتلة</option>
                <option value="position">الموقع</option>
              </select>
         <button onclick="finshblock()">تم</button>   
    </form>
</div>   
    </script>
  <script id="imgsize" type="x-tmpl-mustache">
      <div>
        <form name="size" style=" display: flex;
        flex-direction: column;
        width: 52px;
        background:#51596e;
        padding: 12px;
        border-radius: 10px;">
        <label for="" style="color:#ffffff">العرض </label>
            <input type="number" name="width"  style="width:50px" onkeyup="sizechimg(event)" onchange="sizechimg(event)" value={{wsize}} />
            <label for="" style="color:#ffffff">الطول </label>
            <input type="number" name="height"  style="width:50px" onkeyup="sizechimg(event)" onchange="sizechimg(event)" value={{hsize}} />
         <button   style="  border: 0;
         padding: 2px;
         background: orange;
         border-radius: 4px;" onclick="finshSize()">تم</button>   
    </form>
</div>   
    </script>
  <script id="fontsize" type="x-tmpl-mustache">
      <div>
        <form name="size" style="    display: flex;
        flex-direction: column;
        width: 54px;
        padding: 11px;
        background:#51596e;
        border-radius: 7px;">
        <input type="number"  style="width:50px" onkeyup="sizech(event)" onchange="sizech(event)" value={{size}} />
         <button style="    margin: 5px 0 0 0;
         border: 0;
         border-radius: 4px;
         background: orange;" onclick="finshSize()">تم</button>   
    </form>
</div>   
    </script>
  <script id="h1" type="x-tmpl-mustache">
        <h1 id='{{ids}}' contenteditable="true" style="margin: 10px 0 10px 0;display: inline-block;width:100%;text-align: right;">.... النص</h1>
      </script>
  <script id="img" type="x-tmpl-mustache">
        <img id='{{ids}}' src="{{img}}"  alt="{{alt}}" style="display: inline-block;width:200px;height:200px">
      </script>
  <script id="p" type="x-tmpl-mustache">
        <p id='{{ids}}' contenteditable="true" style="display: inline-block;margin: 10px 0 10px 0;width:100%;text-align: right;">.... النص</p>
      </script>
  <script id="addimg" type="x-tmpl-mustache">
       <div>
        <div id='addItem' class="addItem" style="position: absolute;
        left=40px: ;
        justify-content: center;
        background: #51596e;
        padding: 10px;
        border-radius: 10px;">
            <i onclick="remove()" class="fas fa-times" style="    margin: 0 0 5px 0;"></i>
           
            <div>
                <input id="imgurl" onkeypress="return finshImg(event)" type="text" placeholder="url here ....">
            </div>
        </div>
    </div>
      </script>
  <script id="colorform" type="x-tmpl-mustache">
        <div>
        <form id='formc' style="
        display: flex;
        flex-direction: column;
        width: 5%;
        position: absolute;
        top: 125px;
        left: 33px;
        background: #51596e;
        padding: 10px;
        border-radius: 10px;">
            <input type="color" id="color" style="background: none; border: 0;"/> 
            <button style="    background: #efa41d;
            border: 0;
            border-radius: 4px;">done</button>
        </form>
    </div>
    </script>
</head>

<body style="height: 100%;">

  <%- include ('../layout/header.ejs') %>
  <main>
    <section id="blog"
      style="padding: 30px 0 300px 0;background: #ffffff ; min-height: 100%; width: 80%; margin: auto; ">
      <h1 id="0" class="item" name="text" contenteditable="true"
        style="font-size: 50px; text-align: center; display: inline-block; width: 100%; ">....العنوان</h1>
      <button name="doneall" style="
     position: fixed;
    top: 100px;
    background: orange;
    left: 1107px;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;font-size: larger;" onclick="done()">نشر</button>
    </section>
  </main>

  <footer style="position: fixed; bottom: 0;left: 0;right: 0;height: 9%;">
    <div class="footer-content">
      <div class="footer-section links">
        <p id="follow">تابعنا على </p>
        <div id="links">
          <a class="slinks" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="slinks" href="#"><i class="fab fa-twitter"></i></a>
          <a class="slinks" href=""><i class="fab fa-instagram"></i></a>
          <a class="slinks" href="#"><i class="fab fa-youtube"></i></a>
          <a class="slinks" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer-section contact-form">
        <p id="email">
          شاركنا برأيك
        </p>
        <br>
        <form action="" class="newsletter-form">
          <input type="submit" class="btn" value="أرسل">
          <input type="text" class="txtb" placeholder="أدخل تعليقك">
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      جميع الحقوق محفوظة &copy; | طور بواسطة فريق 404
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="../../js/blog.js"></script>
</body>

</html>
