<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/searchJob.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script id="btn" type="x-tmpl-mustache">
    <button onclick="chengeJobs({{index}})">{{number}}</button>
</script>
  <script id="job" type="x-tmpl-mustache">
  <div class="jf">
          <img class="jobimage" src={{company_logo }}<br>
          <p class="jobp">النوع: {{type }}</p>
          <p class="jobp">الشركة : {{company }}</p>
          <p class="jobp">رابط الشركة : {{company_url }}</p>
          <p class="jobp">الموقع : {{location }}</p>
          <p class="jobp">وصف الوظيفة : {{title }}</p>
          <div id="btn">
            <button onclick="show('{{indx}}')" name="detSec{{indx}}" id="detbtn{{indx}}" class="jbtn">
              عرض التفاصيل</button>
          </div>
          <section id="detSec{{indx}}">
            <p id='jobDes{{indx}}'>تفاصيل الوظيفة : <{{description }}</p>
          </section>
          <form onsubmit="return false">
            <input class="jobf" type="hidden" name="company_logo" value="{{company_logo  }}">
            <input class="jobf" type="hidden" name="type" value="{{type }}">
            <input class="jobf" type="hidden" name="company" value="{{company }}">
            <input class="jobf" type="hidden" name="company_url" value="<{{company_url }}">
            <input class="jobf" type="hidden" name="location" value="{{location }}">
            <input class="jobf" type="hidden" name="title" value="{{title }}">
            <input class="jobf" type="hidden" name="description" value="<{{description }}">
            <div id="bn">
              <button class="savebtn">اضف الى المحفوظات</button>
            </div>
          </form>
        </div>
</script>
</head>

<body>
  <header>
    <img class="logo" src="../IMG/home.png" alt="">
    <img class="name" src="../IMG/name.png" alt="">
    <nav>
      <div>
        <img class="unknown" src="https://emanong-ph.com/api/people/avatar/0" alt="">
        <a class="navspe" href="/login"> تسجيل الدخول </a>
        <a class="navspe" href="/signupNewUser"> إنشاء حساب </a>
        <a class="nav" href="/cdns">CDN </a>
        <a class="nav" href="/questions">اسألني</a>
        <a class="nav" href="/jobs/search">وظائف</a>
        <a class="nav" href="/">الصفحة الرئيسية </a>
      </div>
    </nav>
  </header>
  <main class="mainj">
    <p id="serverJobs" style="display: none;"><%=job%></p>
    <div id="jobs">

    </div>
    <div class="containrbtn" style="justify-content: center; display: flex;"></div>
    <%-include ('../../views/layout/footer.ejs') %>
  </main>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>