<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Search</h2>
        <form  action="/jobs" method="post">
            <label>
                <input  type="text" name="description" placeholder="Enter software languages type" required> </label>
            <label >
            <label>
                <input  type="text" name="location" placeholder="Enter job location" > </label>
            <label >
                <span>Full Time</span>
                <input type="checkbox" name="type">
            </label>
           
            <button  id="search-btn">Search job !</button>
        </form>
    </main>
</body>
</html>