<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/searchJob.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script id="btn" type="x-tmpl-mustache">
    <button onclick="chengeJobs({{index}})">{{number}}</button>
</script>
  <script id="job" type="x-tmpl-mustache">
  <div class="jf">
          <img class="jobimage" src={{company_logo }}<br>
          <p class="jobp">النوع: {{type }}</p>
          <p class="jobp">الشركة : {{company }}</p>
          <p class="jobp">رابط الشركة : {{company_url }}</p>
          <p class="jobp">الموقع : {{location }}</p>
          <p class="jobp">وصف الوظيفة : {{title }}</p>
          <div id="btn">
            <button onclick="show('{{indx}}')" name="detSec{{indx}}" id="detbtn{{indx}}" class="jbtn">
              عرض التفاصيل</button>
          </div>
          <section id="detSec{{indx}}">
            <p id='jobDes{{indx}}'>تفاصيل الوظيفة :{{description }}</p>
          </section>
          <form name="addjob" onsubmit="return false">
            <input class="jobf" type="hidden" name="company_logo" value="{{company_logo  }}">
            <input class="jobf" type="hidden" name="type" value="{{type }}">
            <input class="jobf" type="hidden" name="company" value="{{company }}">
            <input class="jobf" type="hidden" name="company_url" value="{{company_url }}">
            <input class="jobf" type="hidden" name="location" value="{{location }}">
            <input class="jobf" type="hidden" name="title" value="{{title }}">
            <input class="jobf" type="hidden" name="description" value="{{description }}">
            <div id="bn">
              <button class="savebtn">اضف الى المفضلة</button>
            </div>
          </form>
        </div>
</script>
  <script id="popup" type="x-tmpl-mustache">
  <div  class="popup {{i}}" style="position: fixed;
    top: 110px;
    width: 50%;
    left: 25%;
    height: 356px;
    padding: 12px;
    color: white;
    background:#515973">
    <div style="
      height: 356px;
      overflow-y: scroll;">
      {{description}}
         </div>
    <button onclick="remove({{i}})" style=" background: #e89a3d;
    border-radius: 4px;
    font-size: 24px;
    width: 13%;
    color: white;
    padding:1%;
    margin-top: 1%;
    border-radius:6px;
    margin-left: -2%;">done</button>
  </div>
</script>
</head>

<body>

  <%- include ('../layout/header.ejs') %>

  <main class="mainj">
    <button id="onbtn" onclick="savedjobs()">المفضلة </button>
    <p id="serverJobs" style="display: none;"><%=job%></p>
    <div class="bigdiv">
      <section id="secj">
        <h4>ابحث عن وظيفة</h4>
        <form class="jobfm" id="searchjob" onsubmit="return false">
          <label class="joblab">
            <input id="description" class="in" type="text" name="description" placeholder="ادخل نوع لغة البرمجة"
              required>
          </label>
          <label>
            <la bel class="joblab">

              <input  class="in" type="text" name="location" placeholder="ادخل موقع الوظيفة المطلوبة">
            </label>
            <label class="joblab">
              <span id="spn">دوام كامل </span>
              <input type="checkbox" name="type">
            </label>
            <button id="search-btn">ابحث</button>

        </form>
      </section>
      <section id="sec2">

      </section>
    </div>

    <div class="containrbtn" style="justify-content: center; display: flex;"></div>
    <%-include ('../../views/layout/footer.ejs') %>
  </main>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>