<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <img class="logoFor" src="../IMG/home.png" alt="">
    <img class="nameFor" src="../IMG/name.png" alt="">

    <nav>
      <div>
        <img id="userimg" class="unknown" src="https://emanong-ph.com/api/people/avatar/0" alt="">
        <a id="login" class="navspe" href="/login"> تسجيل الدخول </a>
        <a id="signup" class="navspe" href="/signupNewUser"> إنشاء حساب </a>
        <a id="logout"  class="navspe" href="javascript:logout()">تسجيل خروج</a>
        <a class="nav" href="">مقالات </a>
        <a class="nav" href="/cdns">CDN </a>
        <a class="nav" href="/questions">اسألني</a>
        <a class="nav" href="/jobs/search">وظائف</a>
        <a class="nav" href="/">الصفحة الرئيسية </a>
      </div>
    </nav>
  </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="js/header.js"></script>
</body>