<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
     
        <img class = "logo" src="./IMG/lastthing.png" alt="">
        <!-- <img class = "test" src="./IMG/كك.PNG" alt=""> -->
    
        <nav>
           <div>
              
              
            <img class="unknown" src="https://emanong-ph.com/api/people/avatar/0" alt="">
             
               <a class="navspe" href="/login/create"> تسجيل الدخول  </a>
               <a class="navspe" href="/signupNewUser"> إنشاء حساب  </a>
               <a class="nav" href="/cdns">CDN </a>
               <a class="nav" href="/questions">اسألني</a>
               <a class="nav" href="/jobs">وظائف</a>
               <a class="nav" href="/">الصفحة الرئيسية </a>

        </div>

        </nav>
        <!-- <h1 class="mainhed">بيت المبرمج</h1> -->
    </header>
</body>
